.date{
    color: #668661;
}

.jumbotron .photo{

}

.jumbotron{
    display: flex;

}

#tweets{

}

.card{
    padding: 5px;
}

.jumbotron .text{
    margin-top: 5px;
}

.container h1{
    margin: 5px;
}

.one-tweet{
    padding: 2em;
}
