.title{
    font-family: 'Russo One', sans-serif;
    font-size: 30px;
    padding-left: 5px;
    padding-top: 7px;
}

.image-navbar{
    height: 3em;
    width: 3em;
    border-radius: 50%;
}

.option{
    font-weight: bold;
}

.navbar-brand{
    margin: 0;
    border-left: 15px;
    padding: 10px;
    margin: auto;
    align-items: center;
    text-align: justify;
}
